body {
    background-color: #201c1c;
}

p {
    font-size: 16px;
}

a {
   text-decoration: none; 
   color:#E3D3C0;
}

ul {
    list-style-type: none;
}

.items img {
    width: 150px;
}

body {
    display: flex;
    flex-direction: column;
}

.thumbnail{
    display: flex;
    flex-direction: column;
    background-color:  #605c54;
    color: #E3D3C0;
    padding: 8px 32px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    gap: 32px;
}

.hero {
    padding: 64px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.hero h1 {
    font-size: 60px;
}

.hero .content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    max-width: 300px;
    padding: 8px;
    font-weight: bold;
}

img{
    border-radius: 15px;
    min-width: 0;
}

.hero img{
    max-width: 30%;
}

.gallery, .call-to-action{
    background-color: #E3D3C0;
    color: 242E3E;
}

.gallery{
    text-align: center;
    color: #787F8B;
    padding: 64px;
}

.gallery h2 {
    margin: 24px;
    font-size: 36px;
    
}

.items{
    display: flex;
    /* margin: 0 64px; */
    justify-content: center;
    flex-flow: row wrap;
    gap: 64px;
    flex-grow: 1;
    padding: 0px 8px;
}

.item {
    width: 150px;
    text-align: center;
    margin-top: 36px;
}

.quote{
    background-color: #242E3E;
    color: #E3D3C0;
    text-align: center;
    padding: 64px;

}

.call-to-action{
    display: flex;
    justify-content: center;
    background-color: #E3D3C0;
    padding: 64px;

}
.call-to-action .banner{
    padding: 18px;
    border-radius: 15px;
    gap: 36px;
    display: flex;
    justify-content: space-between;
    background-color: #996A57;
    width: 600px;
}

.call-to-action .banner .text{
    display: flex;
    flex-direction: column;
    color: #E3D3C0;
}

.call-to-action .banner #button{
    display: flex;
    align-items: center;
    color: dimgray;
}

.call-to-action #button p{
    border-radius: 5px;
    padding: 8px;
    background-color: white;
}


.footer{
    background-color:  #201c1c;
    color: white;
    text-align: center;
}




